.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border-radius: 8px;
  margin: 8px;
  border: 1px solid #cbced2;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border-radius: 8px;
  margin: 8px;
  border: 1px solid #cbced2;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border-radius: 8px;
  margin: 8px;
  border: 1px solid #cbced2;
}

.Heading {
  color: #326a9d;
}
.para {
  color: #64748b;
}
.button {
  border: 2px solid #326a9d;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
}
.cont {
  margin: 8px;
}
